main {
  #mcdPriceCarLottery {
    position: relative;
    justify-content: center;
    margin-bottom: 60px;
    .carLotteryImage {
      img {
        width: 100%;
        border-radius: 8px;
      }
    }
    .carLotteryImage-text {
      position: absolute;
      top: 40%;
      left: 5%;
      width: 320px;

      .carLotteryImage-textUp {
        background-color: #fbbd28;
        display: inline-block;
        height: 5vw;
        margin-bottom: 9px;
        padding: 5px 9px;

        p {
          font-family: SpeedeBd;
          font-weight: bold;
          font-size: 5vw;
          line-height: 105%;
        }
      }
    }
  }
}
